In [3]:
import pandas as pd
import numpy as np

# Feature Engineering

In [4]:
from src.feature_engineering import Embeddings, DataCleaning

In [5]:
df = pd.DataFrame(["this is a example about cats", 
                   "cats are super cute", 
                   "Cats are on sale today! Get one", 
                   "Kittens are the best cats", 
                   "I like cats better than dogs", 
                   "smart cats can type emails", 
                   "cats normally don't like going for walks.", 
                   "What makes cats smart?", 
                   "are all cats cute?", 
                   "dogs are kinda smart though"])
df.columns = ["document"]
df.head()

                          document
0     this is a example about cats
1              cats are super cute
2  Cats are on sale today! Get one
3        Kittens are the best cats
4     I like cats better than dogs

In [6]:
tfidf_matrix, _ = Embeddings.tfidf_vectorizer(df["document"])
tfidf_matrix

,best,better,cats,cute,dogs,don,emails,example,going,kinda,kittens,like,makes,normally,sale,smart,super,today,type,walks
0,0.000000,0.000000,0.375349,0.000000,0.000000,0.000000,0.00000,0.926883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
1,0.000000,0.000000,0.294825,0.618900,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.728039,0.000000,0.00000,0.000000
2,0.000000,0.000000,0.275285,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.679786,0.000000,0.000000,0.679786,0.00000,0.000000
3,0.679786,0.000000,0.275285,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.679786,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
4,0.000000,0.619067,0.250696,0.000000,0.526264,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.526264,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
5,0.000000,0.000000,0.245672,0.000000,0.000000,0.000000,0.60666,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.451191,0.000000,0.000000,0.60666,0.000000
6,0.000000,0.000000,0.183191,0.000000,0.000000,0.452371,0.00000,0.000000,0.452371,0.000000,0.000000,0.384556,0.000000,0.452371,0.000000,0.000000,0.000000,0.000000,0.00000,0.452371
7,0.000000,0.000000,0.309036,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.763131,0.000000,0.000000,0.567563,0.000000,0.000000,0.00000,0.000000
8,0.000000,0.000000,0.430066,0.902797,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.563507,0.000000,0.00000,0.000000,0.000000,0.662879,0.000000,0.000000,0.000000,0.000000,0.000000,0.493002,0.000000,0.000000,0.00000,0.000000

In [7]:
svd_matrix, _ = Embeddings.svd(tfidf_matrix, 2)
svd_matrix

      svd_0     svd_1
0  0.379566 -0.058497
1  0.656197 -0.556709
2  0.294209 -0.047836
3  0.294209 -0.047836
4  0.409505  0.333906
5  0.447213  0.418655
6  0.278444  0.094584
7  0.504399  0.437487
8  0.711992 -0.523264
9  0.338667  0.641496

In [8]:
pca_matrix, _ = Embeddings.pca(tfidf_matrix, 2)
pca_matrix

      pca_0     pca_1
0  0.096902  0.145640
1  0.681662 -0.220629
2  0.057840  0.190540
3  0.057840  0.190540
4 -0.272894  0.418785
5 -0.315354 -0.452977
6 -0.088226  0.610690
7 -0.318218 -0.451010
8  0.659966 -0.201267
9 -0.559518 -0.230313

In [9]:
lsa_matrix, _, _ = Embeddings.lsa(df["document"], n_components=2)
lsa_matrix

      lsa_0     lsa_1
0  0.379566 -0.058497
1  0.656197 -0.556709
2  0.294209 -0.047836
3  0.294209 -0.047836
4  0.409505  0.333906
5  0.447213  0.418655
6  0.278444  0.094584
7  0.504399  0.437487
8  0.711992 -0.523264
9  0.338667  0.641496

In [10]:
document = df.document
docvec_matrix, _ = Embeddings.doc_to_vec(document, 5)
docvec_matrix

   docvec_0  docvec_1  docvec_2  docvec_3  docvec_4
0  0.084442  0.096465 -0.035688 -0.051713 -0.035408
1 -0.000314 -0.005050  0.085675  0.002540 -0.005570
2  0.054020 -0.061509 -0.059411 -0.081749  0.020886
3 -0.069689  0.057255 -0.062548  0.076555 -0.037253
4 -0.085165  0.091453  0.087548 -0.010362 -0.027942
5  0.015296  0.025819  0.025052  0.061218  0.059289
6  0.089975 -0.014115 -0.003901  0.033151 -0.053686
7  0.087900  0.012566 -0.001199  0.029763  0.087897
8  0.041582  0.094844  0.099749  0.094332 -0.004548
9 -0.002868  0.087497 -0.058477  0.011129  0.018941

In [11]:
lda_matrix, _ = Embeddings.lda(df.document, ntopics=5, n=2)
lda_matrix

    lda_0   lda_1   lda_2   lda_3   lda_4
0  0.9332  0.0167  0.0167  0.0167  0.0167
1  0.4740  0.0251  0.4506  0.0252  0.0251
2  0.0143  0.0143  0.0143  0.9428  0.0143
3  0.0202  0.0201  0.0202  0.9194  0.0201
4  0.0167  0.9331  0.0167  0.0167  0.0167
5  0.9198  0.0200  0.0201  0.0200  0.0200
6  0.0146  0.9425  0.0143  0.0143  0.0143
7  0.0252  0.0251  0.0251  0.0251  0.8995
8  0.0252  0.0251  0.8995  0.0251  0.0251
9  0.0201  0.0201  0.9198  0.0200  0.0200